<%= form_for(@chu) do |form| %>
  <% if @chu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chu.errors.count, "error") %> prohibited this chu from being saved:</h2>

      <ul>
      <% @chu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<%= form.hidden_field :user_id, :value => current_user.id %>
	<%= form.hidden_field :latitude %>
	<%= form.hidden_field :longitude %>
    
    <%= form.label :tagline %><br />
    <%= form.text_field :tagline %><br />
    
	<%= form.label :image1, "Cover Photo" %><br />
	<%= form.attachment_field :image1 %><br />
	
	<%= form.label :image2, "Photo 2" %><br />
	<%= form.attachment_field :image2 %><br />
	
	<%= form.label :image3, "Photo 3" %><br />
	<%= form.attachment_field :image3 %><br />
	
	<%= form.label :image4, "Photo 4" %><br />
	<%= form.attachment_field :image4 %><br />
	
	<%= form.label :image5, "Photo 5" %><br />
	<%= form.attachment_field :image5 %><br />

	<%= form.label :image6, "Photo 6" %><br />
	<%= form.attachment_field :image6 %><br />

    <%= form.label :list_type %><br />
    <%= form.text_field :list_type %><br />
    
    <%= form.label :available_date %><br />
    <%= form.date_select :available_date %><br />
    
    <%= form.label :address %><br />
    <%= form.text_field :address %><br />
    
	<%= form.select :base, Chu::BASE_NAMES, :prompt => "Select Post" %><br />
    
    <%= form.label :description %><br />
    <%= form.text_area :description %><br />
    
    <%= form.label :bedroom %><br />
    <%= form.number_field :bedroom %><br />
    
    <%= form.label :bathroom %><br />
    <%= form.number_field :bathroom %><br />
    
    <%= form.label :price %><br />
    <%= form.number_field :price %><br />
    
    <%= form.label :sec_deposit %><br />
    <%= form.number_field :sec_deposit %><br />
    
    <%= form.label :cleaning_fee %><br />
    <%= form.number_field :cleaning_fee %><br />
    
    <%= form.label :smoking %><br />
    <%= form.check_box :smoking %><br />
    
    <%= form.label :pet %><br />
    <%= form.check_box :pet %><br />
    
    <%= form.label :additional_info %><br />
    <%= form.text_area :additional_info %><br />
    
    <%= form.submit %>
<% end %>
