<p>
  <strong>Tagline:</strong>
  <%= @chu.tagline %>
</p>

<p>
  <strong>Cover Photo:</strong>
  <% if @chu.image1.present? %>
  	<%= image_tag attachment_url(@chu, :image1, :fill, 300, 300) %>
  <% else %>
  	<%= image_tag('noPhoto.jpg', size: "150") %>
  <% end %>
</p>

<p>
  <strong>Photo 2:</strong>
  <% if @chu.image2.present? %>
  	<%= image_tag attachment_url(@chu, :image2, :fill, 300, 300) %>
  <% else %>
  	<%= image_tag('noPhoto.jpg', size: "150") %>
  <% end %>
</p>

<p>
  <strong>Photo 3:</strong>
  <% if @chu.image3.present? %>
  	<%= image_tag attachment_url(@chu, :image3, :fill, 150, 150) %>
  <% else %>
  	<%= image_tag('noPhoto.jpg', size: "150") %>
  <% end %>
</p>

<p>
  <strong>Type:</strong>
  <%= @chu.list_type %>
</p>

<p>
  <strong>Available date:</strong>
  <%= @chu.available_date %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @chu.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @chu.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @chu.address %>
</p>

<p>
  <strong>Base:</strong>
  <%= @chu.base %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chu.description %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @chu.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @chu.bathroom %>
</p>

<p>
  <strong>Price:</strong>
  <%= @chu.price %>
</p>

<p>
  <strong>Sec deposit:</strong>
  <%= @chu.sec_deposit %>
</p>

<p>
  <strong>Cleaning fee:</strong>
  <%= @chu.cleaning_fee %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @chu.smoking %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @chu.pet %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @chu.additional_info %>
</p>

<p>
  <strong>User:</strong>
  <%= @chu.user_id %>
</p>

<%= link_to 'Edit', edit_chu_path(@chu) %> |
<%= link_to 'Done', root_url %>
