<% if user_signed_in? %>
	<% if params[:search] %>	
		<% @chus.each do |chu| %><br /><br /> 
			<%= link_to chu.tagline, home_path(:id => chu.id) %><br />
			<%= chu.user.fullname %><br />
			<%= chu.available_date.strftime("%b %d") %><br />
			<%= chu.address %><br />
			<%= chu.base %><br />
			<%= chu.description %><br />
			<%= chu.bedroom %><br />
			<%= chu.bathroom %><br />
			<%= chu.price %><br />
			<%= chu.sec_deposit %><br />
			<%= chu.cleaning_fee %><br />
			<%= chu.additional_info %><br />
			<% if current_user.id == chu.id %>
				<%= link_to 'Edit', edit_chu_path(chu) %>
				<%= link_to 'Remove', chu, method: :delete, data: { confirm: 'Are you sure?' } %><br /> <br />       	
			<% end %>
			<br />
		<% end %>
	<% else %>
		<%= form_tag(root_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Posts" %>
			<%= submit_tag "Search", :name => nil %>
		<% end %>
	<% end %>
<% else %>
	<h1>Welcome</h1>
<% end %>