<!DOCTYPE html>
<html>
<head>
  <title>Mychupichu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
	Hi <%= current_user.name %> | <%= link_to 'logout', destroy_user_session_path, :method => :delete %><br />
	<%= link_to 'Home', root_path %> | <%= link_to 'Add Chu', chus_path %> 
	<%= yield %>	
<% else %>

<!--TRADITIONAL FUNCTIONING SIGN-UP AND SIGN-IN FORM BELOW
	<h2>sign-up</h2>
	<%= form_for(:user, :url => registration_path(:user)) do |f| %>
		<%= f.text_field :name, :placeholder => "name" %><br />
		<%= f.email_field :email, :placeholder => "youremail@example.com" %><br />
		<%= f.password_field :password, :placeholder => "password", autocomplete: "off" %>&nbsp;
		<%= f.password_field :password_confirmation, :placeholder => "confirm", autocomplete: "off" %><br />
		<%= f.submit "join" %>
	<% end %>
	<h2>sign-in</h2>
	<%= form_for(:user, :url => session_path(:user)) do |f| %>
		<%= f.email_field :email, :placeholder => "youremail@example.com", autofocus: true %><br />
		<%= f.password_field :password, :placeholder => "password", autocomplete: "off" %><br />
		<%= f.submit "login" %>
	<% end %>
END OF FORM -->

	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %><br />
	<%= link_to "Sign in with Linkedin", user_omniauth_authorize_path(:linkedin) %>
<% end %>

</body>
</html>
