<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mychupichu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mychupichu</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %><span class="sr-only">(current)</span></li>
        <li><%= link_to 'Add Chu', chus_path %></li>
      </ul>
      <% if user_signed_in? %>
      	<ul class="nav navbar-nav navbar-right">
      		<li><%= link_to 'logout', destroy_user_session_path, :method => :delete %></li>
      	</ul>
      <% else %>
      	<ul class="nav navbar-nav navbar-right">
      		<li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
      		<li><%= link_to "Sign in with Linkedin", user_omniauth_authorize_path(:linkedin) %></li>
      	</ul>
      <% end %>	
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if user_signed_in? %>
	<div class="jumbotron">
		<h1>Hi</h1><%= current_user.name %>
		<h2>Welcome back!</h2>
	</div>
<% else %>
	<div class="jumbotron">
		<h1>Welcome!</h1>
		<h2>Please sign in below.</h2>
	</div>
<% end %>


	<div class="container-fluid">
		<p class="notice"><%= notice %></p>

		<%= yield %>
	</div>
</body>
</html>
